name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.20
      - name: install deps
        run: bun i

      - name: build
        run: bun run build
      - name: lint
        run: bun check
      - name: test
        run: bun test:report
        env:
          OMNIPIN_LIGHTHOUSE_TOKEN: ${{ secrets.OMNIPIN_OMNIPIN_TOKEN }}
          OMNIPIN_STORACHA_PROOF: ${{ secrets.OMNIPIN_STORACHA_PROOF }}
          OMNIPIN_STORACHA_TOKEN: ${{ secrets.OMNIPIN_STORACHA_TOKEN }}
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: coverage/lcov.info
