name: Deploy with Omnipin
on:
  push:
    branches: [main]
    paths:
      - "docs/**"
  workflow_dispatch: {}
jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      cid: ${{ steps.pack_omnipin.outputs.cid }}
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Install Omnipin
        run: bun i -g omnipin@2.0.4
      - name: Install deps
        run: cd docs && bun i
      - name: Build website
        run: cd docs && bun docs:build
      - name: Deploy the site
        run: cd docs/.vitepress && omnipin deploy --strict --ens ${{ vars.OMNIPIN_ENS }} --safe ${{ vars.OMNIPIN_SAFE }}
        env:
          OMNIPIN_STORACHA_PROOF: ${{ secrets.OMNIPIN_STORACHA_PROOF }}
          OMNIPIN_STORACHA_TOKEN: ${{ secrets.OMNIPIN_STORACHA_TOKEN }}
          OMNIPIN_4EVERLAND_TOKEN: ${{ secrets.OMNIPIN_4EVERLAND_TOKEN }}
          OMNIPIN_FILECOIN_TOKEN: ${{ secrets.OMNIPIN_FILECOIN_TOKEN }}
          OMNIPIN_PK: ${{ secrets.OMNIPIN_PK }}
